html {
    font-family: Gil, serif;
    font-size: 12px;
    font-weight: 700;
    font-style: normal;
    line-height: 1.375;
    text-transform: none;
    background: #262626;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
    margin: 0;
}

h1 {
    font-size: 30px;
    text-align: center;
    color: #FFFFFF;
}

p {
    cursor: pointer;
    color: #FFFFFF;
}

b {
    color: #FFFFFF;
}

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    height: 450px;
    background-color: rgba(255, 255, 255, 0.6);
    border: none;
    padding: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    background-color: #333333;
}

.login-container__window {
    display: flex;
    flex-direction: column;
}

.register-container {
    display: flex;
    flex-direction: column;
}

.login-container__window__input, .register-container__input {
    width: 200px;
    height: 23px;
    border-radius: 7px;
    border: none;
    margin-top: 5px;
    margin-bottom: 20px;
    background-color: #262626;
}

.login-container__window__submit-btn, .register-container__submit-btn {
    width: 200px;
    height: 23px;
    border-radius: 20px;
    border: none;
    background-color: #262626;
    color: #FFFFFF;
}

.login-container__window__submit-btn {
    margin-bottom: 125px;
}

.register-container__submit-btn {
    margin-bottom: 10px;
}

label > b {
    font-size: 15px;
}

/* ... andere Stilregeln ... */

.hide {
    display: none;
    visibility: hidden;
}







